@import '~src/global.styl'
@import '~src/base.styl'
@import '~src/custom.styl'
@import '~src/utilities.styl'

h1
  font-size $font-size-2xl
  font-weight $font-weight-bold
  letter-spacing $extend-letter-spacing-l
  text-transform uppercase
  margin-bottom $offset-xl

h2,
.page .content:not(.custom) > h2
  font-size $font-size-xl
  font-weight $font-weight-regular
  letter-spacing $extend-letter-spacing-m
  margin-bottom $offset-l
  padding-bottom $offset-s
  border-bottom 2px solid $dark

h3,
.page .content:not(.custom) > h3
  font-size $font-size-l
  font-weight $font-weight-bold
  letter-spacing $extend-letter-spacing-s
  margin-bottom $offset-s
  margin-top $offset-m
  padding-top 0
  color $primary

h4,
.page .content:not(.custom) > h4
  font-size $font-size-l
  font-weight $font-weight-bold
  margin-bottom $offset-m
  margin-top $offset-m
  padding-top 0

h5
  font-size $font-size-l
  font-weight $font-weight-regular

h6
  font-size $font-size-m
  font-weight $font-weight-bold

.content:not(.custom) a:hover
  text-decoration inherit !important

p
  margin $offset-s 0 $offset-m 0
  line-height $loosen-line-height-s

.content:not(.custom)
  padding-top 5rem

.content code
  display inline-block

.navbar .site-name
  color $primary
  font-weight $font-weight-bold

.page-nav .inner
  border-top 2px solid $light

.navbar
  border-width 2px

.sidebar
  border-width 2px

.sidebar ul li
  margin-bottom 0

ul, ol {
  padding-left 1.2em
}

ul li li
  position relative
  list-style-type none

a.sidebar-link
  border-left none
  font-size $font-size-l
  padding 12px 12px 12px 16px
  margin-left 0

a.sidebar-link.active
  border-left-color subtle

a.sidebar-link
  position relative

.sidebar .sidebar-sub-headers
  padding 0

.sidebar-sub-headers a.sidebar-link
  color $muted
  font-size $font-size-s
  padding-left $offset-l

.sidebar-sub-headers li:last-child a.sidebar-link
  padding-bottom $offset-l

.sidebar-sub-headers a.sidebar-link.active
  font-weight $font-weight-bold
  color $primary

ul li li a.sidebar-link:before
  content ''
  position absolute
  background $primary
  border-radius 2px
  transition .15s ease all
  top 8px
  left 7px
  width 2px
  height 8px
  background transparent

ul li li a.sidebar-link:hover:before,
ul li li a.sidebar-link.active:before
  top 6px
  left 6px
  width 4px
  height 12px
  background $primary

.search-box input
  border 2px $light solid

.content hr
  border-bottom $hr-style
  border-top 0
  margin 30px 0

.content .inverted hr
  border-bottom-color $hr-inverted

.content a.header-anchor
  padding-right 0

.subtitle
  font-size $font-size-xl

.big
  font-size $font-size-l

table
  display table !important

table tr
  border-top none

tr:nth-child(2n)
  background-color $table-zebra-bg

table th,
table td
  border none

.custom-block.tip
  background $light


/* Temp overrides */
.content.custom img.max-width-600
  max-width 600px

.btn.size-l
  font-size 18px

.btn.h-xl, .btn.vh-xl
  padding-left 28px
  padding-right 28px

.btn.v-l, .btn.vh-l
  min-height $default-font-size + ($size-l * 2) + ($input-border * 2) - 8
  padding-top 4px
  padding-bottom 4px

blockquote
  border-left none
