/*======================================================================================================================
| PragmaCSS. Prototype fast, scale with confidence.
|=======================================================================================================================
|
| base.css
| --------
|
| This stylesheet offers solid base classes for the most essential ui elements, such as form elements and buttons.
| Classes from style.css can be used to further customize them.
|
`---------------------------------------------------------------------------------------------------------------------*/

/*
|-----------------------------------------------------------------------------------------------------------------------
| HTML
|-----------------------------------------------------------------------------------------------------------------------
|
| This section takes care of the default appearance of all common HTML tags.
|
*/
div
  box-sizing border-box

body
  margin 0

html, body
  background-color $body-background
  font $font-weight-regular $default-font-size / $default-line-height $primary-font
  color $default-color
  -webkit-text-size-adjust 100%
  letter-spacing $default-letter-spacing

a
  background-color transparent
  outline none
  color $link-color
  text-decoration $link-decoration
  transition $link-transition
  &:hover
    color $link-color-hover
    -webkit-tap-highlight-color transparent
    text-decoration none

h1, h2, h3, h4, h5, h6
  font-weight $font-weight-regular
  font-size $default-font-size
  line-height $default-line-height
  margin 0

p
  margin 0
  line-height $paragraph-line-height

i, em
  font-style italic

b, strong
  font-weight $font-weight-bold

abbr[title]
  border-bottom none

sub,
sup
  font-size 75%
  line-height 0
  position relative
  vertical-align baseline

sub
  bottom -0.25em

sup
  top -0.5em

img
  border-style none

button,
input,
optgroup,
select,
textarea
  font-family inherit
  font-size 100%
  line-height $default-line-height
  color $dark
  border none
  background transparent
  outline none
  margin 0

button
  border none
  background transparent
  outline none
  &:hover
    cursor pointer
  &:focus
    outline none

button,
input
  overflow visible

button,
select
  text-transform none

button,
[type="button"],
[type="reset"],
[type="submit"]
  -webkit-appearance none

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner
  border-style none
  padding 0

progress
  vertical-align baseline

textarea
  overflow auto

[type="checkbox"],
[type="radio"]
  box-sizing border-box
  padding 0

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button
  height auto

[type="search"]
  -webkit-appearance textfield
  outline 0

[type="search"]::-webkit-search-decoration
  -webkit-appearance none

::-webkit-file-upload-button
  -webkit-appearance button
  font inherit

details
  display block

summary
  display list-item

template
  display none

[hidden]
  display none

/* Placeholders
----------------------------------------------------------------------------------------------------------------------*/
::-webkit-input-placeholder
  color $placeholder-color

:-moz-placeholder
  color $placeholder-color

::-moz-placeholder
  color $placeholder-color

:-ms-input-placeholder
  color $placeholder-color

/* Field sets
----------------------------------------------------------------------------------------------------------------------*/
fieldset
  border none
  padding 0
  margin 0
  legend
    width 100%
    box-sizing border-box
    color inherit
    display table
    max-width 100%
    padding 0
    white-space normal

/* Block-Quote
----------------------------------------------------------------------------------------------------------------------*/
blockquote {
  font $blockquote-font-weight $blockquote-font-size / $blockquote-font-line-height $blockquote-font-family
  font-style $blockquote-font-style
  letter-spacing $blockquote-letter-spacing
  color $blockquote-color
  margin $blockquote-margin
  padding $blockquote-padding
  overflow-wrap break-word
}

/* Lists
----------------------------------------------------------------------------------------------------------------------*/
ol
  list-style-type decimal
  padding 0

ul
  list-style-type circle
  padding 0
  li
    margin-bottom $offset-xs
    li
      list-style-type square

ul.inline-list
  list-style none
  li
    display inline-block
    margin-bottom 0
    margin-left 0
    li
      list-style none

dt
  font-weight $font-weight-bold

dd, li
  margin-left $offset-s

dd > *, li > *
  margin-top 0

/*
|-----------------------------------------------------------------------------------------------------------------------
| Horizontal rule
|-----------------------------------------------------------------------------------------------------------------------
*/
hr
  background none
  border none
  border-bottom $hr-style
  width auto
  height 0
  overflow hidden
  box-sizing content-box
  &.dotted
    border-bottom-style dashed
  &.dashed
    border-bottom-style dashed
  &.s
    border-width $hr-s
  &.m
    border-width $hr-m
  &.l
    border-width $hr-l
  &.short
    width $hr-short
  &.negative
    border-bottom-color $hr-negative

/*
|-----------------------------------------------------------------------------------------------------------------------
| Tables
|-----------------------------------------------------------------------------------------------------------------------
*/
table
  display table
  border-collapse collapse
  text-align left
  width 100%
  tr
    th
      color $table-th-color
      font-weight $font-weight-bold
      padding 10px 8px
      border-bottom $table-th-border
    td
      padding 10px 8px
      border-bottom $table-td-border
  tbody tr:last-child
    td
      border-bottom none
  &.zebra
    tr:nth-of-type(even) td
      background-color $table-zebra-bg
  &.hoverable
    tbody tr:hover td
      background-color $table-row-hover-bg
  &.table-fixed
    table-layout fixed

table tr td:first-of-type,
table tr th:first-of-type
  padding-left 0

table tr td:last-of-type,
table tr th:last-of-type
  padding-right 0

/*
|-----------------------------------------------------------------------------------------------------------------------
| Form inputs
|-----------------------------------------------------------------------------------------------------------------------
*/
input,
textarea,
select
  background-color $input-bg
  border $input-border
  border-radius $input-corner-radius
  outline none
  width 100%
  font-size $input-font-size
  line-height $input-line-height
  padding $input-padding
  box-shadow none
  box-sizing border-box
  transition $input-transition

textarea
  overflow-y hidden
  resize vertical
  transition height 0s, width 0s

input:hover,
textarea:hover,
select:hover
  color $input-hover-color
  border-color $input-hover-border-color

input:focus,
textarea:focus,
select:focus
  color $input-focus-color
  border-color $input-focus-border-color

/* Disabled states */
input:disabled,
textarea:disabled,
select:disabled
  background-color $input-disabled-border-color
  color $input-disabled-color
  border-color $input-disabled-border-color

input:disabled:hover,
textarea:disabled:hover,
select:disabled:hover
  color $input-disabled-color
  border-color $input-disabled-border-color

/* Input icon
----------------------------------------------------------------------------------------------------------------------*/
.input-icon
  position relative

.input-icon input
  padding-left $default-font-size + ($size-m * 2) + ($input-border * 2)

.input-icon > :not(input)
  position absolute
  display flex
  align-items center
  justify-content center
  width $default-font-size + ($size-m * 2) + ($input-border * 2)
  top 0
  bottom 0
  left 0

.input-icon input + div > [class*='tico-'] span,
.input-icon input + div > [class*='tico-'] span:before
.input-icon input + div > [class*='tico-'] span:after
  color $soft
  border-color $soft
  background-color $soft

.input-icon input:hover + div > [class*='tico-'] span,
.input-icon input:hover + div > [class*='tico-'] span:before
.input-icon input:hover + div > [class*='tico-'] span:after
  color $dark
  border-color $dark
  background-color $dark

.input-icon input:focus + div > [class*='tico-'] span,
.input-icon input:focus + div > [class*='tico-'] span:before
.input-icon input:focus + div > [class*='tico-'] span:after
  color $primary
  border-color $primary
  background-color $primary

.input-icon [class^='spinner'],
.input-icon [class*=' spinner']
  top 0

/* Checkbox and Radio
----------------------------------------------------------------------------------------------------------------------*/
.checkbox,
.radio
  font-weight $font-weight-regular
  letter-spacing $extend-letter-spacing-s
  text-transform none

.checkbox *,
.radio *
  vertical-align middle

.checkbox input[type=checkbox],
.radio input[type=radio]
  position fixed
  opacity 0
  z-index -9

.checkbox-indicator,
.radio-indicator
  position relative
  display inline-block
  top -2px
  width 20px
  height 20px
  margin-right 5px
  background-color $input-bg
  border $input-border
  border-radius $input-corner-radius
  transition $input-transition

/* Checkbox indicator */
.checkbox-indicator:before,
.checkbox-indicator:after
  position absolute
  content ''
  width 5px
  border-radius $transformicon-corner-radius
  background $primary
  transition .4s all cubic-bezier(0,.9,.45,1)
  transform-origin bottom
  opacity 0

.checkbox-indicator:before
  transform rotate(-45deg) scaleY(.2) translate(10px, -5px)
  height 10px
  left 7px
  top 5px

.checkbox-indicator:after
  transform rotate(45deg) scaleY(.2) translate(-5px, -10px)
  height 23px
  left 5px
  top -7px

.checkbox input[type=checkbox]:checked + .checkbox-indicator:before
  transform rotate(-45deg) scaleY(1) translate(0, 0)
  opacity 1

.checkbox input[type=checkbox]:checked + .checkbox-indicator:after
  transform rotate(45deg) scaleY(1) translate(0, 0)
  opacity 1

.checkbox input[type=checkbox]:hover + .checkbox-indicator,
.radio input[type=radio]:hover + .radio-indicator
  border-color $pale

.checkbox input[type=checkbox]:focus + .checkbox-indicator,
.radio input[type=radio]:focus + .radio-indicator
  border-color $soft

.checkbox input[type=checkbox]:checked:focus + .checkbox-indicator
  border-color $pale

/* Radio indicator */
.radio-indicator
  border-radius 100%

.radio-indicator:before
  position absolute
  content ''
  width 14px
  height 14px
  top 3px
  left 3px
  background $primary
  border-radius 100%
  transition .4s all cubic-bezier(0,.9,.45,1)
  opacity 0
  transform scale(.2)

.radio input[type=radio]:checked + .radio-indicator:before
  opacity 1
  transform scale(1)

/* Checkbox and Radio size-controls */
.checkbox-indicator.size-xs,
.radio-indicator.size-xs
  transform scale(0.6)
  margin -3px 0 -3px -4px

.checkbox-indicator.size-s,
.radio-indicator.size-s
  transform scale(0.77)
  margin -2px 0 -2px -2px

.checkbox-indicator.size-m,
.radio-indicator.size-m
  transform scale(1)

.checkbox-indicator.size-l,
.radio-indicator.size-l
  transform scale(1.23)
  margin 5px 12px 5px 3px

.checkbox-indicator.size-xl,
.radio-indicator.size-xl
  transform scale(1.6)
  margin 10px 18px 10px 7px

/* Disabled states */
.checkbox input[type=checkbox]:disabled + .checkbox-indicator,
.radio input[type=radio]:disabled + .radio-indicator
  pointer-events none

.checkbox input[type=checkbox]:disabled + .checkbox-indicator:before,
.radio input[type=radio]:disabled + .radio-indicator:before
  background $light

.checkbox input[type=checkbox]:disabled + .checkbox-indicator:after,
.radio input[type=radio]:disabled + .radio-indicator:after
  background $light

.checkbox input[type=checkbox]:disabled:hover + .checkbox-indicator,
.radio input[type=radio]:disabled:hover + .radio-indicator
  border-color $light


/*
|-----------------------------------------------------------------------------------------------------------------------
| Text styles
|-----------------------------------------------------------------------------------------------------------------------
|
| PragmaCSS provides you with a small number of commonly used font styles for your convenience.
| You can easily extend them via utility classes.
|
*/
.hero-text
  font-size $hero-text-font-size
  font-weight $hero-text-font-weight
  letter-spacing $hero-text-letter-spacing
  text-transform $hero-text-text-transform
  line-height $hero-text-line-height
  margin $hero-text-margin
  color $hero-text-color

.headline
  font-size $headline-font-size
  font-weight $headline-font-weight
  letter-spacing $headline-letter-spacing
  text-transform $headline-text-transform
  line-height $headline-line-height
  margin $headline-margin
  color $headline-color

.title
  font-size $title-font-size
  font-weight $title-font-weight
  letter-spacing $title-letter-spacing
  text-transform $title-text-transform
  line-height $title-line-height
  margin $title-margin
  color $title-color

.subtitle
  font-size $subtitle-font-size
  font-weight $subtitle-font-weight
  letter-spacing $subtitle-letter-spacing
  text-transform $subtitle-text-transform
  line-height $subtitle-line-height
  margin $subtitle-margin
  color $subtitle-color

.big
  font-size $big-font-size
  font-weight $big-font-weight
  letter-spacing $big-letter-spacing
  text-transform $big-text-transform
  line-height $big-line-height
  margin $big-margin
  color $big-color

.small
  font-size $small-font-size
  font-weight $small-font-weight
  letter-spacing $small-letter-spacing
  text-transform $small-text-transform
  line-height $small-line-height
  margin $small-margin
  color $small-color

.label, label
  font-size $label-font-size
  font-weight $label-font-weight
  letter-spacing $label-letter-spacing
  text-transform $label-text-transform
  line-height $label-line-height
  margin $label-margin
  color $label-color

@media only screen and (max-width $breakpoint-xl)
  .hero-text
    font-size round($font-size-4xl * .9)

  .headline
    font-size round($font-size-3xl * .95)

@media only screen and (max-width $breakpoint-l)
  .hero-text
    font-size round($font-size-4xl * .85)

  .headline
    font-size round($font-size-3xl * .9)

  .title
    font-size round($font-size-2xl * .95)

@media only screen and (max-width $breakpoint-m)
  .hero-text
    font-size round($font-size-4xl * .75)

  .headline
    font-size round($font-size-3xl * .85)

  .title
    font-size round($font-size-2xl * .9)

  .subtitle
    font-size round($font-size-xl * .95)

@media only screen and (max-width $breakpoint-s)
  .hero-text
    font-size round($font-size-4xl * .65)

  .headline
    font-size round($font-size-3xl * .8)

  .title
    font-size round($font-size-2xl * .85)

  .subtitle
    font-size round($font-size-xl * .9)

  .big
    font-size round($font-size-l * .95)

/*
|-----------------------------------------------------------------------------------------------------------------------
| Buttons
|-----------------------------------------------------------------------------------------------------------------------
|
| Utility classes allow you to create all sorts of buttons, but chances are that you don't want to individually
| define the appearance of every single button in your project. Most likely, the majority of buttons in your project
| will have one particular look and feel, with a few modifications for specific situations.
|
| The .btn class aims to give you an easy way to do exactly that. You can configure most of the buttons appearance
| through global variables.
|
*/
.btn, a.btn
  display inline-flex
  align-self center
  align-content center
  align-items center
  justify-content center
  box-sizing border-box
  color $btn-color
  background $btn-bg
  border $btn-border
  border-radius $btn-corner-radius
  font-size $btn-font-size
  line-height  $btn-line-height
  letter-spacing $btn-letter-spacing
  text-transform $btn-text-transform
  text-align center
  min-height $default-font-size + ($size-m * 2) + ($input-border * 2) - 8
  padding 4px $btn-padding-h
  vertical-align middle
  transition $btn-transition
  outline 0
  -webkit-tap-highlight-color transparent
  cursor pointer
  box-shadow $btn-shadow
  text-decoration none
  filter $btn-filter
  &:focus
    color $btn-focus-color
    background $btn-focus-bg
    border-color $btn-focus-border-color
    box-shadow $btn-focus-shadow
    filter $btn-focus-filter
  &:hover
    color $btn-hover-color
    background $btn-hover-bg
    border-color $btn-hover-border-color
    box-shadow $btn-hover-shadow
    filter $btn-hover-filter
  &:active
    color $btn-active-color
    background $btn-active-bg
    border-color $btn-active-border-color
    box-shadow $btn-active-shadow
    filter $btn-active-filter
  &.dark-bg
    color white
    background $dark
    border-color $dark
    &:focus
      border-color $dark-hover
    &:hover
      background $dark-hover
      border-color $dark-hover
  &.soft-bg
    color white
    background $soft
    border-color $soft
    &:hover
      background $soft-hover
      border-color $soft-hover
    &:focus
      border-color $soft-hover
  &.pale-bg
    color $dark
    background $pale
    border-color $pale
    &:hover
      background $pale-hover
      border-color $pale-hover
    &:focus
      border-color $dark
  &.light-bg
    color $dark
    background $light
    border-color $light
    &:hover
      color $dark
      background white
      border-color white
    &:focus
      border-color $light-hover
  &.black-bg
    color white
    background $black
    border-color $black
    &:hover
      background $black-hover
      border-color $black-hover
    &:focus
      border-color $black-hover
  &.red-bg
    color white
    background $red
    border-color $red
    &:hover
      background $red-hover
      border-color $red-hover
    &:focus
      border-color $red-hover
  &.orange-bg
    color white
    background $orange
    border-color $orange
    &:hover
      background $orange-hover
      border-color $orange-hover
    &:focus
      border-color $orange-hover
  &.green-bg
    color white
    background $green
    border-color $green
    &:hover
      background $green-hover
      border-color $green-hover
    &:focus
      border-color $green-hover
  &.yellow-bg
    color $dark
    background $yellow
    border-color $yellow
    &:hover
      background $yellow-hover
      border-color $yellow-hover
    &:focus
      border-color $yellow-hover
  &.blue-bg
    color white
    background $blue
    border-color $blue
    &:hover
      background $blue-hover
      border-color $blue-hover
    &:focus
      border-color $blue-hover
  &.violet-bg
    color white
    background $violet
    border-color $violet
    &:hover
      background $violet-hover
      border-color $violet-hover
    &:focus
      border-color $violet-hover
  &.white-bg
    color $dark
    background $white
    border-color $white
  &.blank
    color $primary
    &.blank:hover, &.blank:focus
      color $primary-hover
  &.white-bg.primary, &.blank.primary
    color $primary
    &:hover, &.blank.primary:hover
      color $primary-hover
  &.white-bg.dark, &.blank.dark
    color $dark
    &:hover, &.blank.dark:hover
      color $dark-hover
  &.white-bg.soft, &.blank.soft
    color $soft
    &:hover, &.blank.soft:hover
      color $soft-hover
  &.white-bg.black, &.blank.black
    color $black
    &:hover, &.blank.black:hover
      color $black-hover
  &.white-bg.red, &.blank.red
    color $red
    &:hover, &.blank.red:hover
      color $red-hover
  &.white-bg.orange, &.blank.orange
    color $orange
    &:hover, &.blank.orange:hover
      color $orange-hover
  &.white-bg.green, &.blank.green
    color $green
    &:hover, &.blank.green:hover
      color $green-hover
  &.white-bg.blue, &.blank.blue
    color $blue
    &:hover, &.blank.blue:hover
      color $blue-hover
  &.white-bg.violet, &.blank.violet
    color $violet
    &:hover, &.blank.violet:hover
      color $violet-hover
  &.white-bg:hover, &.blank:hover
    color $primary
    background $white-hover
    border-color $white-hover
  &.white-bg:focus, &.blank:focus
    border-color $pale
  &.blank, &.blank:hover, &.blank:focus
    border-color transparent
    background transparent
  &.ghost
    color $primary
    background transparent
    border-color $primary
    &:hover, &:focus
      color $primary-hover
      background transparent
      border-color $primary-hover
    &.dark, &.dark-bg
      border-color $dark
      color $dark
      &:hover, &:focus
        border-color $dark-hover
        color $dark-hover
    &.soft, &.soft-bg
      border-color $soft
      color $soft
      &:hover, &:focus
        border-color $soft-hover
        color $soft-hover
    &.pale, &.pale-bg
      border-color $pale
      color $pale
      &:hover, &:focus
        border-color $pale-hover
        color $pale-hover
    &.light, &.light-bg
      border-color $light
      color $light
      &:hover, &:focus
        border-color $light-hover
        color $light-hover
    &.white, &.white-bg
      border-color $white
      color $white
      &:hover, &:focus
        border-color $white-hover
        color $white-hover
    &.black, &.black-bg
      border-color $black
      color $black
      &:hover, &:focus
        border-color $black-hover
        color $black-hover
    &.red, &.red-bg
      border-color $red
      color $red
      &:hover, &:focus
        border-color $red-hover
        color $red-hover
    &.orange, &.orange-bg
      border-color $orange
      color $orange
      &:hover, &:focus
        border-color $orange-hover
        color $orange-hover
    &.green, &.green-bg
      border-color $green
      color $green
      &:hover, &:focus
        border-color $green-hover
        color $green-hover
    &.yellow, &.yellow-bg
      border-color $yellow
      color $yellow
      &:hover, &:focus
        border-color $yellow-hover
        color $yellow-hover
    &.blue, &.blue-bg
      border-color $blue
      color $blue
      &:hover, &:focus
        border-color $blue-hover
        color $blue-hover
    &.violet, &.violet-bg
      border-color $violet
      color $violet
      &:hover, &:focus
        border-color $violet-hover
        color $violet-hover

.btn
  &.disabled,
  &:disabled,
  &.disabled:hover,
  &:disabled:hover
    background-color $btn-disabled-bg !important
    color $btn-disabled-color !important
    border-color $btn-disabled-border-color !important
    box-shadow $btn-disabled-shadow
    filter $btn-disabled-filter
    cursor default

.btn
  &.disabled *,
  &:disabled *
    pointer-events none

.btn [class^='spinner'],
.btn [class*=' spinner']
  top 0

/*
|-----------------------------------------------------------------------------------------------------------------------
| Size control
|-----------------------------------------------------------------------------------------------------------------------
|
| The following classes give you control over the width and height of buttons and input fields.
|
*/
.v-0, .vh-0
  min-height $default-font-size + ($size-xs * 2)
  padding-top 0
  padding-bottom 0

.v-xs, .vh-xs
  min-height $default-font-size + ($size-xs * 2) + ($input-border * 2) - 2
  padding-top 1px
  padding-bottom 1px

.v-s, .vh-s
  min-height $default-font-size + ($size-s * 2) + ($input-border * 2) - 4
  padding-top 2px
  padding-bottom 2px

.v-m, .vh-m
  min-height $default-font-size + ($size-m * 2) + ($input-border * 2) - 8
  padding-top 4px
  padding-bottom 4px

.v-l, .vh-l
  min-height $default-font-size + ($size-l * 2) + ($input-border * 2) - 8
  padding-top 4px
  padding-bottom 4px

.v-xl, .vh-xl
  min-height $default-font-size + ($size-xl * 2) + ($input-border * 2) - 12
  padding-top 6px
  padding-bottom 6px

.h-0, .vh-0
  padding-left 0
  padding-right 0

.h-xs, .vh-xs
  padding-left $size-xs
  padding-right $size-xs

.h-s, .vh-s
  padding-left $size-s
  padding-right $size-s

.h-m, .vh-m
  padding-left $size-m
  padding-right $size-m

.h-l, .vh-l
  padding-left $size-l
  padding-right $size-l

.h-xl, .vh-xl
  padding-left $size-xl
  padding-right $size-xl

.h-2xl
  padding-left $size-2xl
  padding-right $size-2xl

.h-3xl
  padding-left $size-3xl
  padding-right $size-3xl

/* Size control for input icon
----------------------------------------------------------------------------------------------------------------------*/
.input-icon input.v-0,
.input-icon input.vh-0
  padding-left $default-font-size + $input-border

.input-icon input.v-xs,
.input-icon input.vh-xs
  padding-left $default-font-size + $input-border + ($size-xs * 2) - 2

.input-icon input.v-s,
.input-icon input.vh-s
  padding-left $default-font-size + $input-border + ($size-s * 2) - 4

.input-icon input.v-m,
.input-icon input.vh-m
  padding-left $default-font-size + $input-border + ($size-m * 2) - 8

.input-icon input.v-l,
.input-icon input.vh-l
  padding-left $default-font-size + $input-border + ($size-l * 2) - 8

.input-icon input.v-xl,
.input-icon input.vh-xl
  padding-left $default-font-size + $input-border + ($size-xl * 2) - 12

.input-icon input.v-0 + :not(input),
.input-icon input.vh-0 + :not(input)
  width $default-font-size + $input-border + ($size-xs * 2)

.input-icon input.v-xs + :not(input),
.input-icon input.vh-xs + :not(input)
  width $default-font-size + $input-border + ($size-xs * 2)

.input-icon input.v-s + :not(input),
.input-icon input.vh-s + :not(input)
  width $default-font-size + ($size-s * 2)

.input-icon input.v-m + :not(input),
.input-icon input.vh-m + :not(input)
  width $default-font-size + ($size-m * 2)

.input-icon input.v-l + :not(input),
.input-icon input.vh-l + :not(input)
  width $default-font-size + ($size-l * 2)

.input-icon input.v-xl + :not(input),
.input-icon input.vh-xl + :not(input)
  width $default-font-size + ($size-xl * 2)

/*
|-----------------------------------------------------------------------------------------------------------------------
| Spinner loader
|-----------------------------------------------------------------------------------------------------------------------
*/
[class^='spinner'],
[class*=' spinner']
  position relative
  display inline-block
  width 12px
  height 12px
  top 2px
  border-radius 100%
  border-width 2px
  border-style solid
  border-right-color rgba(0,0,0,0.08) !important
  border-bottom-color rgba(0,0,0,0.08) !important
  border-left-color rgba(0,0,0,0.08) !important
  border-top-color $primary
  transition .3s all cubic-bezier(.48,.01,.54,1)
  animation spinner-rotation 1.6s cubic-bezier(.41, .26, .2, .62)
  animation-iteration-count infinite

.spinner-s
  width 8px
  height 8px

.spinner-l
  width 18px
  height 18px

.spinner-xl
  width 30px
  height 30px
  border-width 3px

.spinner-2xl
  width 80px
  height 80px
  border-width 5px

.spinner-3xl
  width 150px
  height 150px
  border-width 5px

[class^='spinner'].negative,
[class*=' spinner'].negative
  border-right-color rgba(255,255,255,0.12) !important
  border-bottom-color rgba(255,255,255,0.12) !important
  border-left-color rgba(255,255,255,0.12) !important

@keyframes spinner-rotation
  0%
    transform rotate(0)
  to
    transform rotate(2turn)

/*
|-----------------------------------------------------------------------------------------------------------------------
| Transformicons
|-----------------------------------------------------------------------------------------------------------------------
*/
[class*='tico-']
  position relative
  display inline-block
  width 30px
  height 30px
  transition .4s all cubic-bezier(0,.9,.45,1)
  vertical-align middle
  transform-origin center
  text-align left !important

[class*='tico-'] span,
[class*='tico-'] span:before,
[class*='tico-'] span:after
  position absolute
  content ''
  background $dark
  border-color $dark
  border-radius $transformicon-corner-radius
  border-width 4px
  border-style none
  width 4px
  transition .4s all cubic-bezier(0,.9,.45,1)

[class*='tico-'].tico-thin span,
[class*='tico-'].tico-thin span:before,
[class*='tico-'].tico-thin span:after
  width 2px
  border-width 2px

[class*='tico-'] > i
  position absolute
  left 0
  right 0
  top 0
  bottom 0
  margin auto

.tico-s
  transform scale(0.4)
  width 12px
  height 12px

.tico-s > i
  top -6px
  left -6px

.tico-m
  transform scale(0.5)
  width 15px
  height 15px

.tico-m > i
  top -6px
  left -6px

.tico-l
  transform scale(0.68)
  width 20px
  height 20px

.tico-l > i
  top -2px
  left -2px

.tico-xl
  transform scale(1)

.tico-2xl
  transform scale(1.45)
  width 44px
  height 44px

.tico-3xl
  transform scale(2)
  width 60px
  height 60px

/* Hamburger icon
----------------------------------------------------------------------------------------------------------------------*/
.tico-hamburger span,
.tico-hamburger span:before,
.tico-hamburger span:after
  height 26px

.tico-hamburger span
  transform translate(13px, -6px) rotate(-90deg)

.tico-hamburger span:before
  transform translateX(-8px)

.tico-hamburger span:after
  transform translateX(-16px)

/* Search icon
----------------------------------------------------------------------------------------------------------------------*/
.tico-search span,
.tico-search span:before,
.tico-search span:after
  height 10px
  transform translate(2px, 10px)

.tico-search span
  height 8px
  width 8px
  background transparent !important
  border-style solid
  border-radius 100%
  transform rotate(45deg) translate(10px, -3px)

.tico-search span:after
  opacity 0

.tico-search.tico-thin span
  width 8px

.tico-search.tico-thin span:before
  transform translate(3px, 9px)

/* Edit icon
----------------------------------------------------------------------------------------------------------------------*/
.tico-edit span,
.tico-edit span:before,
.tico-edit span:after
  width 6px
  transform rotate(45deg) translate(13px, -2px)

.tico-edit span
  height 18px
  border-radius 0

.tico-edit span:before
  height 4px
  border-radius $transformicon-corner-radius $transformicon-corner-radius 0 0
  transform translate(0, -5.5px)

.tico-edit span:after
  transform rotate(45deg) translate(12.2px, 11px)
  height 4.2px
  width 4.2px
  border-radius 0

.tico-edit.tico-thin span
  transform rotate(45deg) translate(13px, -4px)
  width 3px

.tico-edit.tico-thin span:before
  height 3px
  width 3px
  transform translate(0, -4.5px)

.tico-edit.tico-thin span:after
  transform translate(1px, 17px)
  height 3px
  width 1px

/* Close icon
----------------------------------------------------------------------------------------------------------------------*/
.tico-close span,
.tico-close span:before,
.tico-close span:after
  height 21px
  transform rotate(-90deg) translate(0, 0)

.tico-close span
  transform rotate(45deg) translate(12px, -6px)

.tico-close span:after
  opacity 0

/* Plus icon
----------------------------------------------------------------------------------------------------------------------*/
.tico-plus span,
.tico-plus span:before,
.tico-plus span:after
  height 21px
  transform translate(0, 0)

.tico-plus span
  transform rotate(0) translate(13px, 4.5px)

.tico-plus span:before
  transform rotate(-90deg)

.tico-plus span:after
  opacity 0

/* Minus icon
----------------------------------------------------------------------------------------------------------------------*/
.tico-minus span,
.tico-minus span:before,
.tico-minus span:after
  height 21px

.tico-minus span
  transform rotate(-90deg) translate(-4.5px, 13px)

.tico-minus span:before
  opacity 0

.tico-minus span:after
  opacity 0

/* Options icon
----------------------------------------------------------------------------------------------------------------------*/
.tico-options span,
.tico-options span:before,
.tico-options span:after
  transform translate(0, 0)

.tico-options span
  height 4px
  transform translate(13px, 5.5px)

.tico-options span:before
  height 4px
  transform translate(0, 7.5px)

.tico-options span:after
  height 4px
  transform translate(0, 14.5px)

.tico-options.tico-thin span,
.tico-options.tico-thin span:before,
.tico-options.tico-thin span:after
  height 3px

/* Alert icon
----------------------------------------------------------------------------------------------------------------------*/
.tico-alert span,
.tico-alert span:before,
.tico-alert span:after
  transform translate(0, 0)

.tico-alert span
  height 14px
  transform translate(13px, 4.5px)

.tico-alert span:before
  height 4px
  transform translate(0, 16.5px)

.tico-alert span:after
  opacity 0

.tico-alert.tico-thin span:before
  height 3px

/* Info icon
----------------------------------------------------------------------------------------------------------------------*/
.tico-info span,
.tico-info span:before,
.tico-info span:after
  transform translate(0, 0)

.tico-info span
  height 4px
  transform translate(13px, 5.5px)

.tico-info span:before
  height 12px
  transform translate(0, 6.5px)

.tico-info span:after
  height 5px
  transform rotate(90deg) translate(6px, 1.5px)

.tico-info.tico-thin span
  height 3px

.tico-info.tico-thin span:before
  transform translate(0, 5.5px)

.tico-info.tico-thin span:after
  transform rotate(90deg) translate(4px, 1.5px)

/* Check icon
----------------------------------------------------------------------------------------------------------------------*/
.tico-check span,
.tico-check span:before,
.tico-check span:after
  height 10px
  transform rotate(-90deg) translate(-11px, -4px)

.tico-check span
  height 18px
  transform rotate(45deg) translate(15px, -7px)

.tico-check span:after
  opacity 0

.tico-check.tico-thin span
  transform rotate(45deg) translate(16px, -8px)

.tico-check.tico-thin span:before
  transform rotate(-90deg) translate(-13px, -4px)

/* Chevron icon
----------------------------------------------------------------------------------------------------------------------*/
[class*='tico-chevron'] span,
[class*='tico-chevron'] span:before,
[class*='tico-chevron'] span:after
  height 14px
  transform rotate(-90deg) translate(5px, -5px)

[class*='tico-chevron'] span
  transform rotate(-45deg) translate(7px, 16px)

[class*='tico-chevron'] span:after
  opacity 0

[class*='tico-chevron'].tico-thin span
  transform rotate(-45deg) translate(9px, 17px)

[class*='tico-chevron'].tico-thin span:before
  transform rotate(-90deg) translate(6px, -6px)


/* Arrow icon
----------------------------------------------------------------------------------------------------------------------*/
[class*='tico-arrow'] span,
[class*='tico-arrow'] span:before,
[class*='tico-arrow'] span:after
  height 18px

[class*='tico-arrow'] span
  transform translate(13px, 6px)

[class*='tico-arrow'] span:before
  transform rotate(-45deg) translate(3.5px, 0.5px)
  height 12px

[class*='tico-arrow'] span:after
  transform rotate(45deg) translate(-3.5px, 0.5px)
  height 12px

[class*='tico-arrow'].tico-thin span
  transform translate(13px, 6px)

[class*='tico-arrow'].tico-thin span:before
  height 10px
  transform rotate(-45deg) translate(3.5px, 0.5px)

[class*='tico-arrow'].tico-thin span:after
  height 10px
  transform rotate(45deg) translate(-3.5px, 0.5px)

/* Rotation adjustments
----------------------------------------------------------------------------------------------------------------------*/

/* Right */
.tico-chevron-right,
.tico-arrow-right
  transform rotate(90deg)

/* Down */
.tico-chevron-down
.tico-arrow-down
  transform rotate(180deg)

/*Left */
.tico-chevron-left,
.tico-arrow-left
  transform rotate(-90deg)

/* Transformicon colors
----------------------------------------------------------------------------------------------------------------------*/
[class*='tico-'].primary span,
[class*='tico-'].primary span:before,
[class*='tico-'].primary span:after
  background $primary
  border-color $primary

[class*='tico-'].dark span,
[class*='tico-'].dark span:before,
[class*='tico-'].dark span:after
  background $dark
  border-color $dark

[class*='tico-'].soft span,
[class*='tico-'].soft span:before,
[class*='tico-'].soft span:after
  background $soft
  border-color $soft

[class*='tico-'].pale span,
[class*='tico-'].pale span:before,
[class*='tico-'].pale span:after
  background $pale
  border-color $pale

[class*='tico-'].light span,
[class*='tico-'].light span:before,
[class*='tico-'].light span:after
  background $light
  border-color $light

[class*='tico-'].white span,
[class*='tico-'].white span:before,
[class*='tico-'].white span:after
  background $white
  border-color $white

[class*='tico-'].black span,
[class*='tico-'].black span:before,
[class*='tico-'].black span:after
  background $black
  border-color $black

[class*='tico-'].red span,
[class*='tico-'].red span:before,
[class*='tico-'].red span:after
  background $red
  border-color $red

[class*='tico-'].green span,
[class*='tico-'].green span:before,
[class*='tico-'].green span:after
  background $green
  border-color $green

[class*='tico-'].yellow span,
[class*='tico-'].yellow span:before,
[class*='tico-'].yellow span:after
  background $yellow
  border-color $yellow

[class*='tico-'].orange span,
[class*='tico-'].orange span:before,
[class*='tico-'].orange span:after
  background $orange
  border-color $orange

[class*='tico-'].blue span,
[class*='tico-'].blue span:before,
[class*='tico-'].blue span:after
  background $blue
  border-color $blue

[class*='tico-'].violet span,
[class*='tico-'].violet span:before,
[class*='tico-'].violet span:after
  background $violet
  border-color $violet
