/*
|-----------------------------------------------------------------------------------------------------------------------
| PragmaCSS. Prototype fast, scale with confidence.
|-----------------------------------------------------------------------------------------------------------------------
|
| base.css
| ======
|
| This stylesheet offers solid base classes for the most essential ui elements, such as form elements and buttons.
| Classes from style.css can be used to further customize them.
|
*/

/*
|-----------------------------------------------------------------------------------------------------------------------
| HTML
|-----------------------------------------------------------------------------------------------------------------------
|
| This section takes care of the default appearance of all common HTML tags.
|
*/
div
  box-sizing border-box

body
  margin 0

html, body
  background-color $body-background
  font $font-weight-regular $standard-font-size / $standard-line-height $primary-font
  color $default-color
  -webkit-text-size-adjust 100%
  letter-spacing $standard-letter-spacing

a
  background-color transparent
  outline none
  color $link-color
  text-decoration $link-decoration
  transition $link-transition
  &:hover
    color $link-color-hover
    -webkit-tap-highlight-color transparent
    text-decoration none

h1, h2, h3, h4, h5, h6
  font-weight $font-weight-regular
  font-size $standard-font-size
  line-height $standard-line-height
  margin 0

p
  margin 0

i, em
  font-style italic

b, strong
  font-weight $font-weight-bold

abbr[title]
  border-bottom none

sub,
sup
  font-size 75%
  line-height 0
  position relative
  vertical-align baseline

sub
  bottom -0.25em

sup
  top -0.5em

img
  border-style none

button,
input,
optgroup,
select,
textarea
  font-family inherit
  font-size 100%
  line-height $standard-line-height
  border none
  background transparent
  outline none
  margin 0

button
  border none
  background transparent
  outline none
  &:hover
    cursor pointer
  &:focus
    outline none

button,
input
  overflow visible

button,
select
  text-transform none

button,
[type="button"],
[type="reset"],
[type="submit"]
  -webkit-appearance none

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner
  border-style none
  padding 0

progress
  vertical-align baseline

textarea
  overflow auto

[type="checkbox"],
[type="radio"]
  box-sizing border-box
  padding 0

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button
  height auto

[type="search"]
  -webkit-appearance textfield
  outline 0

[type="search"]::-webkit-search-decoration
  -webkit-appearance none

::-webkit-file-upload-button
  -webkit-appearance button
  font inherit

details
  display block

summary
  display list-item

template
  display none

[hidden]
  display none

/* Placeholders
----------------------------------------------------------------------------------------------------------------------*/
::-webkit-input-placeholder
  color $placeholder-color

:-moz-placeholder
  color $placeholder-color

::-moz-placeholder
  color $placeholder-color

:-ms-input-placeholder
  color $placeholder-color

/* Field sets
----------------------------------------------------------------------------------------------------------------------*/
fieldset
  border none
  padding 0
  margin 0
  legend
    width 100%
    box-sizing border-box
    color inherit
    display table
    max-width 100%
    padding 0
    white-space normal

/* Blockquote
----------------------------------------------------------------------------------------------------------------------*/
blockquote
  font-size $standard-font-size
  line-height $standard-line-height

/* Lists
----------------------------------------------------------------------------------------------------------------------*/
ol
  list-style-type decimal
  padding 0

ul
  list-style-type circle
  padding 0
  li
    margin-bottom $offset-xs
    li
      list-style-type square

ul.inline-list
  list-style none
  li
    display inline-block
    margin-bottom 0
    margin-left 0
    li
      list-style none

dt
  font-weight $font-weight-bold

dd, li
  margin-left $offset-s

dd > *, li > *
  margin-top 0

/* Code
----------------------------------------------------------------------------------------------------------------------*/
pre,
code,
kbd,
samp
  display block
  font-family monospace

/*
|-----------------------------------------------------------------------------------------------------------------------
| Horizontal rule
|-----------------------------------------------------------------------------------------------------------------------
*/
hr
  background none
  border none
  border-bottom $hr-style
  width auto
  height 0
  overflow hidden
  box-sizing content-box
  &.dotted
    border-bottom-style dashed
  &.dashed
    border-bottom-style dashed
  &.s
    border-width $hr-s
  &.m
    border-width $hr-m
  &.l
    border-width $hr-l
  &.short
    width $hr-short
  &.negative
    border-bottom-color $hr-negative

/*
|-----------------------------------------------------------------------------------------------------------------------
| Tables
|-----------------------------------------------------------------------------------------------------------------------
*/
table
  display table
  border-collapse collapse
  text-align left
  width 100%
  tr
    th
      color $table-th-color
      font-weight $font-weight-bold
      padding 10px 8px
      border-bottom $table-th-border
    td
      padding 10px 8px
      border-bottom $table-td-border
  tbody tr:last-child
    td
      border-bottom none
  &.zebra
    tr:nth-of-type(even) td
      background-color $table-zebra-bg
  &.hoverable
    tbody tr:hover td
      background-color $table-row-hover-bg
  &.table-fixed
    table-layout fixed

table tr td:first-of-type,
table tr th:first-of-type
  padding-left 0

table tr td:last-of-type,
table tr th:last-of-type
  padding-right 0

/*
|-----------------------------------------------------------------------------------------------------------------------
| Form inputs
|-----------------------------------------------------------------------------------------------------------------------
*/
input,
input[type=text],
input[type=email],
input[type=password],
textarea,
select
  background-color $input-bg
  border $input-border
  border-radius $input-corner-radius
  outline none
  width 100%
  font-size $input-font-size
  line-height $input-line-height
  padding $input-padding
  box-shadow none
  box-sizing border-box
  transition $input-transition

input,
input[type=text]:disabled,
input[type=email]:disabled,
input[type=password]:disabled,
textarea:disabled,
select:disabled
  color $input-disabled-color
  border-color $input-disabled-border-color

textarea
  overflow-y hidden
  resize none
  transition height 0, width 0

input:hover,
input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover,
textarea:hover,
select:hover
  color $input-hover-color
  border-color $input-hover-border-color

input:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus,
select:focus
  color $input-focus-color
  border-color $input-focus-border-color

/*
|-----------------------------------------------------------------------------------------------------------------------
| Text styles
|-----------------------------------------------------------------------------------------------------------------------
|
| PragmaCSS provides you with a small number of commonly used font styles for your convenience.
| You can easily extend them via utility classes.
|
*/
.hero-text
  font-size $hero-text-font-size
  font-weight $hero-text-font-weight
  letter-spacing $hero-text-letter-spacing
  text-transform $hero-text-text-transform
  line-height $hero-text-line-height
  margin $hero-text-margin
  color $hero-text-color

.headline
  font-size $headline-font-size
  font-weight $headline-font-weight
  letter-spacing $headline-letter-spacing
  text-transform $headline-text-transform
  line-height $headline-line-height
  margin $headline-margin
  color $headline-color

.title
  font-size $title-font-size
  font-weight $title-font-weight
  letter-spacing $title-letter-spacing
  text-transform $title-text-transform
  line-height $title-line-height
  margin $title-margin
  color $title-color

.subtitle
  font-size $subtitle-font-size
  font-weight $subtitle-font-weight
  letter-spacing $subtitle-letter-spacing
  text-transform $subtitle-text-transform
  line-height $subtitle-line-height
  margin $subtitle-margin
  color $subtitle-color

.big
  font-size $big-font-size
  font-weight $big-font-weight
  letter-spacing $big-letter-spacing
  text-transform $big-text-transform
  line-height $big-line-height
  margin $big-margin
  color $big-color

.small
  font-size $small-font-size
  font-weight $small-font-weight
  letter-spacing $small-letter-spacing
  text-transform $small-text-transform
  line-height $small-line-height
  margin $small-margin
  color $small-color

.label, label
  font-size $label-font-size
  font-weight $label-font-weight
  letter-spacing $label-letter-spacing
  text-transform $label-text-transform
  line-height $label-line-height
  margin $label-margin
  color $label-color

@media only screen and (max-width $breakpoint-xl)
  .hero-text
    font-size round($font-size-4xl * .9)

  .headline
    font-size round($font-size-3xl * .95)

@media only screen and (max-width $breakpoint-l)
  .hero-text
    font-size round($font-size-4xl * .85)

  .headline
    font-size round($font-size-3xl * .9)

  .title
    font-size round($font-size-2xl * .95)

@media only screen and (max-width $breakpoint-m)
  .hero-text
    font-size round($font-size-4xl * .75)

  .headline
    font-size round($font-size-3xl * .85)

  .title
    font-size round($font-size-2xl * .9)

  .subtitle
    font-size round($font-size-xl * .95)

@media only screen and (max-width $breakpoint-s)
  .hero-text
    font-size round($font-size-4xl * .65)

  .headline
    font-size round($font-size-3xl * .8)

  .title
    font-size round($font-size-2xl * .85)

  .subtitle
    font-size round($font-size-xl * .9)

  .big
    font-size round($font-size-l * .95)

/*
|-----------------------------------------------------------------------------------------------------------------------
| Buttons
|-----------------------------------------------------------------------------------------------------------------------
|
| Utility classes allow you to create all sorts of buttons, but chances are that you don't want to individually
| define the appearance of every single button in your project. Most likely, the majority of buttons in your project
| will have one particular look and feel, with a few modifications for specific situations.
|
| The .btn class aims to give you an easy way to do exactly that. You can configure most of the buttons appearance
| through global variables.
|
*/
.btn, a.btn
  display inline-block
  box-sizing border-box
  color $btn-color
  background $btn-bg
  border $btn-border
  border-radius $btn-corner-radius
  font-size $btn-font-size
  line-height  $btn-line-height
  letter-spacing $btn-letter-spacing
  text-transform $btn-text-transform
  text-align center
  padding $btn-padding
  vertical-align middle
  transition $btn-transition
  outline 0
  -webkit-tap-highlight-color transparent
  cursor pointer
  box-shadow $btn-shadow
  text-decoration none
  filter $btn-filter
  &:focus
    color $btn-focus-color
    background $btn-focus-bg
    border-color $btn-focus-border-color
    box-shadow $btn-focus-shadow
    filter $btn-focus-filter
  &:hover
    color $btn-hover-color
    background $btn-hover-bg
    border-color $btn-hover-border-color
    box-shadow $btn-hover-shadow
    filter $btn-hover-filter
  &:active
    color $btn-active-color
    background $btn-active-bg
    border-color $btn-active-border-color
    box-shadow $btn-active-shadow
    filter $btn-active-filter
  &.dark-bg
    color white
    background $dark
    border-color $dark
    &:focus
      border-color $dark-hover
    &:hover
      background $dark-hover
      border-color $dark-hover
  &.soft-bg
    color white
    background $soft
    border-color $soft
    &:hover
      background $soft-hover
      border-color $soft-hover
    &:focus
      border-color $soft-hover
  &.pale-bg
    color $dark
    background $pale
    border-color $pale
    &:hover
      background $pale-hover
      border-color $pale-hover
    &:focus
      border-color $dark
  &.light-bg
    color $dark
    background $light
    border-color $light
    &:hover
      color $dark
      background white
      border-color white
    &:focus
      border-color $light-hover
  &.black-bg
    color white
    background $black
    border-color $black
    &:hover
      background $black-hover
      border-color $black-hover
    &:focus
      border-color $black-hover
  &.red-bg
    color white
    background $red
    border-color $red
    &:hover
      background $red-hover
      border-color $red-hover
    &:focus
      border-color $red-hover
  &.orange-bg
    color white
    background $orange
    border-color $orange
    &:hover
      background $orange-hover
      border-color $orange-hover
    &:focus
      border-color $orange-hover
  &.green-bg
    color white
    background $green
    border-color $green
    &:hover
      background $green-hover
      border-color $green-hover
    &:focus
      border-color $green-hover
  &.yellow-bg
    color $dark
    background $yellow
    border-color $yellow
    &:hover
      background $yellow-hover
      border-color $yellow-hover
    &:focus
      border-color $yellow-hover
  &.blue-bg
    color white
    background $blue
    border-color $blue
    &:hover
      background $blue-hover
      border-color $blue-hover
    &:focus
      border-color $blue-hover
  &.violet-bg
    color white
    background $violet
    border-color $violet
    &:hover
      background $violet-hover
      border-color $violet-hover
    &:focus
      border-color $violet-hover
  &.white-bg
    color $dark
    background $white
    border-color $white
  &.blank
    color $primary
    &.blank:hover, &.blank:focus
      color $primary-hover
  &.white-bg.primary, &.blank.primary
    color $primary
    &:hover, &.blank.primary:hover
      color $primary-hover
  &.white-bg.dark, &.blank.dark
    color $dark
    &:hover, &.blank.dark:hover
      color $dark-hover
  &.white-bg.soft, &.blank.soft
    color $soft
    &:hover, &.blank.soft:hover
      color $soft-hover
  &.white-bg.black, &.blank.black
    color $black
    &:hover, &.blank.black:hover
      color $black-hover
  &.white-bg.red, &.blank.red
    color $red
    &:hover, &.blank.red:hover
      color $red-hover
  &.white-bg.orange, &.blank.orange
    color $orange
    &:hover, &.blank.orange:hover
      color $orange-hover
  &.white-bg.green, &.blank.green
    color $green
    &:hover, &.blank.green:hover
      color $green-hover
  &.white-bg.blue, &.blank.blue
    color $blue
    &:hover, &.blank.blue:hover
      color $blue-hover
  &.white-bg.violet, &.blank.violet
    color $violet
    &:hover, &.blank.violet:hover
      color $violet-hover
  &.white-bg:hover, &.blank:hover
    color $primary
    background $white-hover
    border-color $white-hover
  &.white-bg:focus, &.blank:focus
    border-color $pale
  &.blank, &.blank:hover, &.blank:focus
    border-color transparent
    background transparent
  &.ghost
    color $primary
    background transparent
    border-color $primary
    &:hover, &:focus
      color $primary-hover
      background transparent
      border-color $primary-hover
    &.dark, &.dark-bg
      border-color $dark
      color $dark
      &:hover, &:focus
        border-color $dark-hover
        color $dark-hover
    &.soft, &.soft-bg
      border-color $soft
      color $soft
      &:hover, &:focus
        border-color $soft-hover
        color $soft-hover
    &.pale, &.pale-bg
      border-color $pale
      color $pale
      &:hover, &:focus
        border-color $pale-hover
        color $pale-hover
    &.light, &.light-bg
      border-color $light
      color $light
      &:hover, &:focus
        border-color $light-hover
        color $light-hover
    &.white, &.white-bg
      border-color $white
      color $white
      &:hover, &:focus
        border-color $white-hover
        color $white-hover
    &.black, &.black-bg
      border-color $black
      color $black
      &:hover, &:focus
        border-color $black-hover
        color $black-hover
    &.red, &.red-bg
      border-color $red
      color $red
      &:hover, &:focus
        border-color $red-hover
        color $red-hover
    &.orange, &.orange-bg
      border-color $orange
      color $orange
      &:hover, &:focus
        border-color $orange-hover
        color $orange-hover
    &.green, &.green-bg
      border-color $green
      color $green
      &:hover, &:focus
        border-color $green-hover
        color $green-hover
    &.yellow, &.yellow-bg
      border-color $yellow
      color $yellow
      &:hover, &:focus
        border-color $yellow-hover
        color $yellow-hover
    &.blue, &.blue-bg
      border-color $blue
      color $blue
      &:hover, &:focus
        border-color $blue-hover
        color $blue-hover
    &.violet, &.violet-bg
      border-color $violet
      color $violet
      &:hover, &:focus
        border-color $violet-hover
        color $violet-hover

.btn
  &.disabled,
  &:disabled,
  &.disabled:hover,
  &:disabled:hover
    background-color $btn-disabled-bg !important
    color $btn-disabled-color !important
    border-color $btn-disabled-border-color !important
    box-shadow $btn-disabled-shadow
    filter $btn-disabled-filter
    cursor default

.btn
  &.disabled *,
  &:disabled *
    pointer-events none

.btn [class^='spinner'],
.btn [class*=' spinner']
  top 0

/*
|-----------------------------------------------------------------------------------------------------------------------
| Size control
|-----------------------------------------------------------------------------------------------------------------------
|
| The following classes give you control over the width and height of buttons and input fields.
|
*/
.v-0, .vh-0
  padding-top 0
  padding-bottom 0

.v-xs, .vh-xs
  padding-top $size-xs
  padding-bottom $size-xs

.v-s, .vh-s
  padding-top $size-s
  padding-bottom $size-s

.v-m, .vh-m
  padding-top $size-m
  padding-bottom $size-m

.v-l, .vh-l
  padding-top $size-l
  padding-bottom $size-l

.v-xl, .vh-xl
  padding-top $size-xl
  padding-bottom $size-xl

.h-0, .vh-0
  padding-left 0
  padding-right 0

.h-xs, .vh-xs
  padding-left $size-xs
  padding-right $size-xs

.h-s, .vh-s
  padding-left $size-s
  padding-right $size-s

.h-m, .vh-m
  padding-left $size-m
  padding-right $size-m

.h-l, .vh-l
  padding-left $size-l
  padding-right $size-l

.h-xl, .vh-xl
  padding-left $size-xl
  padding-right $size-xl

.h-2xl
  padding-left $size-2xl
  padding-right $size-2xl

.h-3xl
  padding-left $size-3xl
  padding-right $size-3xl

/*
|-----------------------------------------------------------------------------------------------------------------------
| Spinner loader
|-----------------------------------------------------------------------------------------------------------------------
*/
[class^='spinner'],
[class*=' spinner']
  position relative
  display inline-block
  width 12px
  height 12px
  top 2px
  border-radius 100%
  border-width 2px
  border-style solid
  border-right-color rgba(0,0,0,0.08) !important
  border-bottom-color rgba(0,0,0,0.08) !important
  border-left-color rgba(0,0,0,0.08) !important
  border-top-color $primary
  transition .3s all cubic-bezier(.48,.01,.54,1)
  animation spinner-rotation 1.6s cubic-bezier(.41, .26, .2, .62)
  animation-iteration-count infinite

.spinner-s
  width 8px
  height 8px

.spinner-l
  width 16px
  height 16px

.spinner-xl
  width 42px
  height 42px
  border-width 3px

.spinner-2xl
  width 80px
  height 80px
  border-width 5px

.spinner-3xl
  width 150px
  height 150px
  border-width 5px

[class^='spinner'].negative,
[class*=' spinner'].negative
  border-right-color rgba(255,255,255,0.12) !important
  border-bottom-color rgba(255,255,255,0.12) !important
  border-left-color rgba(255,255,255,0.12) !important

@keyframes spinner-rotation
  0%
    transform rotate(0)
  to
    transform rotate(2turn)
