/*
 * PragmaCSS / custom.styl
 * =======================
 *
 * This is a sample file for your own custom styles - with a few example classes. You can copy it to your own project
 * or simply ignore it and add your own custom stylus files after base.styl and before utilities.styl.
 *
 */

.big
  font-size $font-size-l
  letter-spacing $extend-letter-spacing-s
  line-height $loosen-line-height-s
  margin-bottom $offset-m

.small
  font-size $font-size-s
  letter-spacing $extend-letter-spacing-s
  line-height $tighten-line-height-s
  color $muted

.label, label
  display inline-block
  font-size $font-size-xs
  font-weight $font-weight-bold
  letter-spacing $extend-letter-spacing-l
  text-transform uppercase
  line-height $tighten-line-height-s
  margin-bottom $offset-xs
  color $muted
